<div id="about" class="sf-about">
	<div class="sf-about-wrapper sf-container">
		<div class="sf-about-roundel"></div>
		<div class="sf-about-copy">
			<p>I'm a Front End Developer, based in London (at the moment!).</p>
			<p>I have always been passionate about building things and decided to combine this creative drive with a in demand skill set, so I joined a coding bootcamp and landed my first and current dev job shortly after.</p>
			<p>Always learning new web technologies by building fun little projects.</p>
		</div>
	</div>
</div>