<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SF | Web Dev</title>
  <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.ico" type="image/x-icon"/ >
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css">
	<script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
	<!-- <script src="{{ site.baseurl }}/node_modules/jquery/dist/jquery.min.js"></script> -->
</head>