<div id="skills" class="sf-skills">
	<div class="sf-skills-wrapper sf-container">

		<div class="sf-skills-languages">
			<div class="sf-skillset-name">CODING</div>

			<div class="sf-code-skills-container">
				<div class="sf-code-skill">REACT</div>
				<div class="sf-code-skill">RUBY</div>
				<div class="sf-code-skill">HTML</div>
				<div class="sf-code-skill">CSS</div>
				<div class="sf-code-skill">JS</div>
			</div>
		</div>

		<div class="sf-skills-ab_tools">
			<div class="sf-skillset-name">A/B TESTING</div>

			<div class="sf-ab-skills-container">
				<div class="sf-ab-skill">CXENSE</div>
				<div class="sf-ab-skill">GOOGLE OPTIMIZE</div>
				<div class="sf-ab-skill">ADOBE TARGET</div>
				<div class="sf-ab-skill">VWO</div>
				<div class="sf-ab-skill">OPTIMIZELY</div>
			</div>
		</div>

	</div>
</div>
