.sf-navbar {
	background-color: transparent;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: fit-content;
  transition: background-color 1s linear 
}

.sf-navbar-content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: $accent;
	font-weight: 800;
	max-width: 600px;
  margin: 0 auto;
  font-size: 25px;
}

.tab {
	width: 91px;
	cursor: pointer;
	transition: color .25s linear;
	&:hover {
	 color: $white;
	}
}

.sf-logo-mini {
	margin-top: 25px;
	cursor: pointer;
	
	&:hover {
		g {
		  fill: $white;
		}
	}

	svg {
		width: 70px;
    height: 70px;
    cursor: pointer;
	}

	path {
		cursor: pointer;
	}

	g {
		fill: $accent;
		transition: fill .25s linear;
	}
}